---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/featured?limit=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - bk947yhs5fgjushej8xtark89x1h0jv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d70d540f6223ca9f3a9dc8d95af5de1f"'
      Front-End-Https:
      - 'on'
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":"https://api.twitch.tv/kraken/streams/featured?limit=12&offset=0","next":"https://api.twitch.tv/kraken/streams/featured?limit=12&offset=12"},"featured":[{"text":"<p>$3,000
        is on the line as 64 teams battle it out in the biggest Overwatch tournament
        held yet! Brought to you by Alienware, both sponsored teams and newcomers
        alike will be battling it out for fame and glory in this launch week event!</p>\n\n<br>\n\n\n<p><a
        href=\"/gosugamers\">Click here</a> to watch and chat!</p>\n","image":"https://s.jtvnw.net/jtv_user_pictures/hosted_images/gosugamers_fp_may2016.png","title":"Alienware
        Monthly Melee","sponsored":false,"priority":5,"scheduled":true,"stream":{"_id":21511269616,"game":"Overwatch","viewers":7902,"video_height":1080,"average_fps":60.0110619469,"delay":0,"created_at":"2016-05-25T21:56:16Z","is_playlist":false,"preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_gosugamers-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_gosugamers-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_gosugamers-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_gosugamers-{width}x{height}.jpg"},"_links":{"self":"https://api.twitch.tv/kraken/streams/gosugamers"},"channel":{"mature":false,"status":"Alienware
        Monthly Melee - CLOUD 9 vs LG- WB Semi-Finals  Casted by @TempoZP, @Slasher,
        @Hexagrams - Second stream @ esl_overwatch","broadcaster_language":"en","display_name":"GosuGamers","game":"Overwatch","language":"en","_id":20891118,"name":"gosugamers","created_at":"2011-03-05T03:34:22Z","updated_at":"2016-05-25T22:34:30Z","delay":null,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/gosugamers-profile_image-c795a1f05cfa0ba3-300x300.jpeg","banner":null,"video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/gosugamers-channel_offline_image-d9de85dbb0e2f530-1920x1080.jpeg","background":null,"profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/gosugamers-profile_banner-100ae7dbd206fce9-480.jpeg","profile_banner_background_color":null,"partner":true,"url":"https://www.twitch.tv/gosugamers","views":2091717,"followers":18457,"_links":{"self":"https://api.twitch.tv/kraken/channels/gosugamers","follows":"https://api.twitch.tv/kraken/channels/gosugamers/follows","commercial":"https://api.twitch.tv/kraken/channels/gosugamers/commercial","stream_key":"https://api.twitch.tv/kraken/channels/gosugamers/stream_key","chat":"https://api.twitch.tv/kraken/chat/gosugamers","features":"https://api.twitch.tv/kraken/channels/gosugamers/features","subscriptions":"https://api.twitch.tv/kraken/channels/gosugamers/subscriptions","editors":"https://api.twitch.tv/kraken/channels/gosugamers/editors","teams":"https://api.twitch.tv/kraken/channels/gosugamers/teams","videos":"https://api.twitch.tv/kraken/channels/gosugamers/videos"}}}},{"text":"<p>Bringing
        your the most addictive games for your iOS / Android.  Yes I''m serious, just
        phone games.  Currently hooked on Clash Royale!</p>\n\n<br>\n\n\n<p><a href=\"/phonecats\">Click
        here</a> to watch and chat.</p>\n","image":"https://s.jtvnw.net/jtv_user_pictures/hosted_images/phonecats_fp_april2016.jpg","title":"Phonecats
        - Mobile Gaming","sponsored":false,"priority":5,"scheduled":true,"s[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - bk947yhs5fgjushej8xtark89x1h0jv
      Authorization:
      - OAuth rmczfyu5lza3swxoa2ht860lurlciy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - 'on'
      X-Api-Version:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"streams":[{"_id":21503796432,"game":"Hearthstone: Heroes of Warcraft","viewers":17085,"created_at":"2016-05-25T13:19:30Z","video_height":1080,"average_fps":60.0600600601,"delay":0,"is_playlist":false,"_links":{"self":"https://api.twitch.tv/kraken/streams/savjz"},"preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_savjz-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_savjz-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_savjz-640x360.j[...]
