---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/featured?limit=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - bk947yhs5fgjushej8xtark89x1h0jv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"faadb89ccdcd790bc075c1969e6470fb"'
      Front-End-Https:
      - 'on'
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      X-Mh-Cache:
      - rails-varnish-aws-44685883; M
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":"https://api.twitch.tv/kraken/streams/featured?limit=12&offset=0","next":"https://api.twitch.tv/kraken/streams/featured?limit=12&offset=12"},"featured":[{"text":"<p>Smash
        @ Xanadu is the World''s largest Weekly Super Smash Bros. event featuring
        the best players from the MD/VA region! You can tune in on Tuesdays for Smash
        4 and Wednesday for Melee &amp; Smash 64. The events start at 7PM EST!</p>\n\n<br>\n\n\n<p><a
        href=\"/vgbootcamp\">Click here</a> to watch and chat!</p>\n","image":"http://s.jtvnw.net/jtv_user_pictures/hosted_images/Xanada_melee_fpthumb_62015.png","title":"Smash
        @ Xanadu","sponsored":false,"priority":5,"scheduled":true,"stream":{"_id":21513466944,"game":"Super
        Smash Bros. Melee","viewers":1557,"video_height":720,"average_fps":60.0100857287,"delay":0,"created_at":"2016-05-26T00:34:02Z","is_playlist":false,"preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_vgbootcamp-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_vgbootcamp-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_vgbootcamp-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_vgbootcamp-{width}x{height}.jpg"},"_links":{"self":"https://api.twitch.tv/kraken/streams/vgbootcamp"},"channel":{"mature":false,"status":"S@X
        151 Melee Wednesday! ","broadcaster_language":"en","display_name":"VGBootCamp","game":"Super
        Smash Bros. Melee","language":"en","_id":9846758,"name":"vgbootcamp","created_at":"2010-01-09T21:35:21Z","updated_at":"2016-05-26T02:33:24Z","delay":null,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/vgbootcamp-profile_image-2d7c9dd9b19b8c44-300x300.png","banner":null,"video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/vgbootcamp-channel_offline_image-71aed8f706716b4c-1920x1080.png","background":null,"profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/vgbootcamp-profile_banner-922ca783a6378858-480.png","profile_banner_background_color":null,"partner":true,"url":"https://www.twitch.tv/vgbootcamp","views":33160919,"followers":228047,"_links":{"self":"https://api.twitch.tv/kraken/channels/vgbootcamp","follows":"https://api.twitch.tv/kraken/channels/vgbootcamp/follows","commercial":"https://api.twitch.tv/kraken/channels/vgbootcamp/commercial","stream_key":"https://api.twitch.tv/kraken/channels/vgbootcamp/stream_key","chat":"https://api.twitch.tv/kraken/chat/vgbootcamp","features":"https://api.twitch.tv/kraken/channels/vgbootcamp/features","subscriptions":"https://api.twitch.tv/kraken/channels/vgbootcamp/subscriptions","editors":"https://api.twitch.tv/kraken/channels/vgbootcamp/editors","teams":"https://api.twitch.tv/kraken/channels/vgbootcamp/teams","videos":"https://api.twitch.tv/kraken/channels/vgbootcamp/videos"}}}},{"text":"<p>FACEITTV
        is back! Tune in to see the best teams in the world and your favourite casting
        duo joined by special guests in the ECS!</p>\n\n<br>\n\n\n<p><a href=\"/FACEITTV\">Click
        here</a> to watch and chat!</p>\n","image":"http://s.jtvnw.net/jtv_user_pictures/hosted_images/FACEIT_Twitch_MiniThumb.jpg","title":"FACEITTV","sponsored":false,"priority":5,"scheduled":true,"stream":{"_id":21512180240,"game"[...]
[...]
