<div class="container">
  <div class="row">
    <h1 class="stream-headline"><%= @stream.name %></h1>
  </div>
  <div class="row">
    <div class="embed-container">
      <iframe
        src="http://player.twitch.tv/?channel=<%= @stream.name %>"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
      </iframe>
    </div>
  </div>
  <div class="row">
    <p class="stream-description"><%= @stream.description %></p>
  </div>
</div>
